.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  margin: 20px;
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
}

.card-img {
  width: 13rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.pagination {
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  transition: color 0.2s;
}

.pagination li.active {
  color: #d5ab55;
}

/* Add styles for the buttons */

.pagination button {
  background-color: #d5ab55;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #a98d4b;
}